:root {
  --title-color: #2e2f42;
  --primary-text-color: #434455;
  --acent-color: #4d5ae5;
  --button-acent: #404bbf;
  --white: #ffffff;
  --additional-color: #e7e9fc;
  --additional-secondary-color: #f4f4fd;
  --additional-light-grey: #8e8f99;
  --teel: #31d0aa;
  --modal-color: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 428x) {
  .container {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  position: relative;
  background-color: var(--white);
  border-bottom: 1px solid var(--additional-color);
}

.button-menu {
  background-color: transparent;
  padding: 24px 0 24px 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.svg-menu {
  stroke: var(--title-color);
  stroke-width: 3px;
  fill: none;
}

/* Header */

/* Logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--acent-color);

  /* display: flex;
  align-items: center; */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  color: var(--title-color);
}

.main-nav .logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-footer {
  color: var(--additional-secondary-color);
  background-color: var(--title-color);
}

/* Site Nav*/

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mob-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;

  @media screen and (max-width: 767px) {
    .mob-menu.is-open {
      display: block;
    }
  }
}

/* .current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3.5px;

  width: 100%;
  height: 4px;
  background-color: var(--button-acent);
  border-radius: 2px;
} */

/* .nav-list {
  display: flex;
  column-gap: 40px;
  margin-left: 76px;
} */

/* .nav-title {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-color);
} */

.primary-acent {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-acent:hover,
.primary-acent:focus {
  color: var(--button-acent);
}

/* .nav-address {
  display: flex;
  column-gap: 40px;
  margin-left: auto;
  font-style: normal;
} */

/* .contact,
.text-portfolio {
  font-family: inherit;
  font-weight: 400;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.contact {
  padding-top: 24px;
  padding-bottom: 24px;
} */

/* Hero */
.hero-section {
  background-color: var(--title-color);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

@media screen and (min-width: 428px) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/mob-hero.jpg);
    max-width: 428px;
    height: 432px;
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 320px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
  (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
  (min-resolution: 192dpi) and (min-width: 320px),
  (min-resolution: 2dppx) and (min-width: 320px) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/mob-hero@2x.jpg);
  }

  /* padding-top: 188px;
  padding-bottom: 188px;
 */

  /* max-width: 1440px; */
}

.title {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

@media screen and (min-widt: 428px) {
  .title {
    font-size: 36px;
    line-height: 1.11;
    min-width: 318px;
    margin-bottom: 72px;
  }
}

@media screen and (min-widt: 1158px) {
  .title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496;
    margin-bottom: 48px;
  }
}

.button {
  min-width: 169px;
  display: inline-block;
  padding: 16px 32px;

  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover,
.btn-accept:hover,
.btn-accept:focus {
  background-color: var(--button-acent);
}
